/.gradle/
/bin/
/build/
/prebuilt/
/test-output/
/**/autogen/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tgz
*.rar
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app